@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat&display=swap');

:root {
--main-background-color: #212429;
--text-color: #f1f1f2;
--text-color-2: #313236;
--text-color-3:rgba(255,255,255,0.7);
--secondary--color: #fa6e06;
--circle1--color: #df0d04;
--circle2--color: #f3bf0d;
--creditCard-gradient2--color: #d58443;
--creditCard-gradient3--color: #8d4718;
 --green-color:#57C441;






}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
background-color: var(--main-background-color);
min-height: 100vh;
width: 100%;
color: var(--text-color);
font-family: 'Mochiy Pop P One', sans-serif;
}


/* styling the menu starts here ----------------------------- */

.menu {
    position: fixed;
    /* border: 2px solid; */
    background: var(--menu-background-color);
    height: 100%;
    top: 0;
    bottom: 0;
    /* width: 300px; */
    width: 85px;
    /* overflow:scroll; */
    padding: 0px 0px 0px 0px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    line-height: 3;
    transition: width 800ms ease-in-out;
}
.menu.active {
    width: 300px;
    
}

.menu .unordered--list {
    width: 100%;
    padding: 60px 0 50px 20px;
    list-style-type: none;
    /* background: red; */

}

.menu .unordered--list .list {
    position: relative;
    display: inline-block;
    width: 85%;
    /* line-height: 3; */
    text-align: center;
    /* border: 2px solid yellow; */
    /* border-radius: 25px; */
    padding-left: 12px;
    /* margin-bottom: 5px; */
    text-align: center;
    box-sizing: border-box;
    overflow: hidden
    /* border-top-left-radius: 30px;
    border-bottom-left-radius: 30px; */
}
.menu .unordered--list .list:nth-child(1) a {
    background-color: var(--secondary--color);
}
/* 
.unordered--list .list:hover,
.unordered--list .list:focus {
    background: var(--secondary--color);
} */
.menu .unordered--list .list a {
    position: relative;
    text-decoration: none;
    width: 100%;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding-left: 10px;
    /* font-weight: normal; */
    /* gap: 10px; */
    /* border: 2px solid green; */
    transition: background 200ms linear;
    border-radius: 20px;
    
}
.list a:active,.list a:hover,.list a:focus {
    background: var(--secondary--color);
}
.list a .icon {
    /* width: 100%; */
    font-family: fontAwesome;
    font-weight: 800;
    margin-left: 1px;
}

.list a .icon .fas, .far {
    color: var(--text-color);
    font-weight: 800;
    font-size: 20px;
    
}

.list a .title{
    
    margin-left: 20px;
    text-align: left;
    font-size: 17px;
    white-space: nowrap;
    font-family: 'Mochiy Pop P One', sans-serif;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: var(--text-color-3);
    width: 100%;
    /* border: 3px solid white; */

}

/* .list:nth-child(8) .title {
    padding-right: 10px; i get it wow
} */
/* main starts here------------------------------------------------ */
.main {
    position: absolute;
    height: 100%;
    width: calc(100% - 85px);
    left: 85px;
    /* border: 3px solid; */
    /* transition: width 800ms ease-in-out; */

    transition: all 800ms ease-in-out;
    padding-left: 20px;
}

.main.active {
    width: calc(100% - 300px);
    left: 300px;

}
/* The top bar starts here -------------------------------------------- */

.main .top--header {
    height: 80px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;


}
.top--header .profile--image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* border: 1px solid green; */

}

.top--header .profile--image .profile {
    display: block;
    height: 60px;
    width: 60px;
    /* border: 1px solid; */
    overflow: hidden;
    border-radius: 120px;
    outline: none;
}

.top--header .profile > img {
    width: 100%;
    object-fit: cover;
    object-position: center right;
}

.top--header .profile--image span {
    color: var(--text-color);
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'Mochiy Pop P One', sans-serif; 
    /* font-stretch: ; */
}

.top--header .right--float {
    /* border: 1px solid; */
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100px;
    padding: 10px 0;
}

.right--float a:nth-child(2) {
    /* color: green; */
    float: right;
    padding-right: 10px;
}

.right--float a:nth-child(1) {
    /* color: green; */
    float: left}
.right--float a .fas {
    color: var(--text-color);
    font-size: 20px;
}


.right--float .notify--alert {
    position: absolute;
    height: 12px;
    width: 12px;
    background-color:var(--secondary--color);
    border-radius: 50px;
    right: 8px;
    top: 8px;
}

/* the top bar styling ends here ----------------------------------- */

/* Section of overview starts here  which is section2 --------------------*/

.first--overview--dashboard {
    /* border: 3px solid; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
    /* height: 100%; */
    padding: 20px 0px 10px 0px ;
    /* overflow: hidden; */
    
}

.first--card {
    /* border: 3px solid; */
    /* display: block; */
    width: 400px;
    height: 300px;
    padding-left:  10px;
    padding-right: 10px;
    box-shadow: -3px 5px 15px 0px rgba(0,0,0,0.5);
    border-radius: 30px;
    padding-top: 0px;
    display: grid;
    place-items: center center;
    /* grid-auto-rows: 100px; */
    /* overflow: hidden; */
    /* padding-bottom: 50px; */
}
.title--icon {
    /* border: 3px solid; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Mochiy Pop P One', sans-serif;
    padding-right: 10px;
    padding-left: 10px;
}
.title--icon span:nth-child(1) {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
}
.title--icon span:nth-child(2) {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
}
.credit--card {
    margin: 10px 0 ;
    display:block;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    /* border: 3px solid red; */
    background-image: linear-gradient(to right bottom, var(--secondary--color),var(--creditCard-gradient2--color)60%,var(--creditCard-gradient3--color));
    border-radius: 20px;
    height: 210px;
    width: 90%;
    padding: 10px  15px ;
}

.credit--card .balance--cash {
    display: grid;
    place-items: center start;
    gap: 3px;
    text-align: center;
    text-transform: capitalize;
}

.balance--cash .balance {
    font-family: 'Mochiy Pop P One', sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
}

.balance--cash .cash--amount {
    font-family: "Montserrat",sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 600;
}
.card--number {
    margin-top: 10px;

    /* border: 2px solid ; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 10px;
    font-family: 'Mochiy Pop P One', sans-serif; 

}

.card--number .no--1, .no--2, .no--3 {
    font-family: fontAwesome;
    font-size: 15px;
}

.card--number .no--4 {
    font-size: 16px;
    letter-spacing: 2px;
    
}
.expire--trademark {
    /* border: 2px solid; */
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.expire--trademark .expire {
    display: block;
    /* border: 3px solid; */
    padding: 5px;
    font-family: 'Mochiy Pop P One', sans-serif;
    /* font-style: ; */
    /* border: 1px solid; */
}

.expire--trademark .expire p {
    font-size: 18px;
    letter-spacing: 2px;
    padding-bottom: 3px;
    
}
.expire--trademark .expire span {
    font-size: 14px;
    /* margin-top: 25px; */
}

.trademark {
    position: relative;
    /* border: 2px solid red; */
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
}

.trademark .circle {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-color: var(--circle1--color);
}

.trademark .circle--1 {
    /* backdrop-filter: contrast(20%); */
    opacity: 0.6;
    z-index: 1;
}

.trademark .circle--2 {
    transform: translateX(25px);
    z-index: 0;
    background-color: var(--circle2--color);
    /* opacity: 0.6; */

}

/* this is the second card styling section --------- */
.second--card {
    width: 380px;
    height: 320px;
    /* border: 3px solid; */
    padding: 10px;
    display:grid;
    box-shadow: -3px 5px 15px 0px rgba(0,0,0,0.5);
    border-radius: 30px;
    padding-top: 0px;
    /* row-gap: 10px; */

}

.customer--transactions {
    /* border: 1px solid yellow; */
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.customer--image {
    /* border: 1px solid green; */
    width: 60px;
    height: 60px;
    border-radius: 140px;
    overflow: hidden;
}

.image--title {
    display: flex;
    align-items: center;
    justify-content:baseline;
    gap: 10px;
}

.name--date {
    /* border: 2px solid black; */
    width: 150px;
    display: block;
    line-height: 1.5;
}
.name--date .customer--name {
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: var(--text-color);
}

.name--date span:nth-child(2) {
    color:var(--text-color-3);
    font-size: 14px;

}

.customer--transactions:nth-of-type(4) .customer--deposit  {
    color: var(--green-color);
}



.customer--image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.customer--transactions .customer--deposit {
    color: var(--circle1--color);
}
 /* second card styling ends here---------------------------- */

 /* Third card styling starts here---------------- */
 .third--card {
    width: 380px;
    height: 320px;
    /* border: 3px solid; */
    /* padding: 10px; */
    display:grid;
    box-shadow: -3px 5px 15px 0px rgba(0,0,0,0.5);
    border-radius: 30px;
    padding: 10px 20px 0px 20px ;
    text-transform: capitalize;
    /* row-gap: 10px; */

}
.third--card .title {
    /* border: 2px solid; */
    padding: 0px 0px  0px 20px;

}
.line--chart {
    /* border: 1px solid; */
    width: 100%;
    height: auto;
}
 /* Third card styling ends here---------------- */

/* Section of overview ends here-------------------------------- */

/* styling of section--2 and tables starts here */

.section--2 {
    max-width: 100%;
    width: 100%;
    height: auto;
    /* border: 2px solid; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 10px; */
    row-gap: 10px;
    /* display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 20px;
    padding-left:20px;
    padding-bottom: 20px; */
    padding: 10px 0px 20px 10px;

}


/* .firstcard--container {
    width: 100%;
    border: 3px solid magenta;
    

} */
.grid--rowspan {
    grid-row: 1 / 4;
}
.section--2--first--card {
    display: grid;
    align-items: center;
    justify-content: baseline;
    width: 380px;
    height: 520px;
    box-shadow: -3px 5px 15px 0px rgba(0,0,0,0.5);
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 200px;
    /* padding-left:  20px;
    padding-right: 20px; */
    line-height: 1.5;
 
}

.section--2--first--card .section--2--title--icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    text-transform: capitalize;
    font-size: 20px;
    font-family: 'Mochiy Pop P One', sans-serif;
    letter-spacing: 1.5px;
    /* border: 2px solid; */
}

.section--2--title--icon span:nth-child(1) {
    font-size: 18px;
    padding-left: 20px;
}
.section--2--title--icon span:nth-child(2) {
    font-size: 18px;
    padding-right: 20px;
}
.budget--heading {
    width: 100%;
    display: flex;
    border-bottom: 4px solid var(--secondary--color);
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    font-size: 20px;
    font-family: 'Mochiy Pop P One', sans-serif;
    padding: 10px 0px;
    /* border: 2px solid; */
    margin-top: 15px;
    letter-spacing: 1.5px;


}
.budget--heading .cash span {
    font-size: 18px;
    padding-left: 20px;
}

.budget--heading .amount--cash {
    font-size: 18px;
    padding-right: 20px;

}

.subscriptions--container {
    /* border: 3px solid; */
    width: 100%;
    margin-top: 20px;
    /* display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5px;
    border: 3px solid red; */
    text-transform: capitalize;
}

.subscriptions--container .all--sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0px;

}

.all--sub .sub--icon {
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 20px;
}

.all--sub .sub--icon .far {
    font-size: 25px;
    padding-left: 30px;
    color: var(--secondary--color);
}
.sub--icon .sub {
    display: block;
}

.sub--icon .sub h4 {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;;
}
.sub--icon .sub p {
    font-size: 14px;
    /* font-weight: 500; */
    color: var(--text-color-3);
    font-family: 'Montserrat', sans-serif;;

}
.all--sub .sub--amount span {
    padding-right: 20px;
    font-family: 'Montserrat', sans-serif;
}
/* second--card--blocks starts here */
.second--card--blocks {
    width: 60%;
    /* border: 2px solid cyan; */
}
/* styling of secondcard--1 blocks start here */
/* .second--card--blocks {
    border: solid red 3px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(150px, auto);
    justify-items: baseline;
    gap: 10px;
    width: 100%;
    padding: 10px;
} */
.section--2--second--card {
  
    width: 380px;
    height: 300px;
    /* border: 3px solid; */
    padding: 10px;
    display: grid;
    box-shadow: -3px 5px 15px 0px rgba(0,0,0,0.5);
    border-radius: 30px;
    padding-top: 0px;
    /* row-gap: 10px; */


}

.section--2--second--card [data-title-secondblock="1"] {
    /* border: 2px solid; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;


}
[data-title-date=""] {
    display: block;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;

}
[data-title-date=""] span{
    color: var(--circle1--color);
    font-size: 14px;

}
[data-title-date=""] p {
    padding-bottom: 5px;
    /* border: 3px solid; */
}
[ data-title-amount=""] {
    color: var(--text-color);
    padding-right: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

[data-title-secondblock="1"]:nth-child(4) p {
    text-transform: uppercase;
}
/* styling of secondcard--1 blocks ends here */
/* styling of secondcard--2 blocks start here */

.section--2--third--card {
    width: 380px;
    height: 300px;
    /* border: 3px solid; */
    padding: 10px;
    display: grid;
    box-shadow: -3px 5px 15px 0px rgba(0,0,0,0.5);
    border-radius: 30px;
    text-transform: capitalize;

    /* overflow: hidden; */
    /* padding-top: 0px */
}

.progres--title {
    width: 100%;
}

.progressBar--container {
    position: relative;
    width: 160px;
    height: 160px;
}

.outter {
    border: 1px solid var(--secondary--color);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: 20px;
}
.inner {
    width: 120px;
    height: 120px;
    border: 1px solid var(--secondary--color);
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}
svg {
    position: absolute;
    top: 0;
    left: 0;
}
circle {
    fill: none;
    stroke: var(--secondary--color);
    stroke-width: 20px;
    stroke-dasharray: 460;
    stroke-dashoffset: 460;
    animation-name: progressBar;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    /* animation-direction: alternate ; */
}

@keyframes progressBar {
    100% {
        stroke-dashoffset: 236;
    }
}

.title--icon2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 30px 0px 10px;
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 1.5px


}

.progress--title {
    display: flex;
    /* border: 2px solid cyan; */
    align-items: center;
    justify-content: flex-start;
    gap : 15px;
}

.savings--reached p {
    /* border: red solid; */
    font-size: 12px;
    white-space: nowrap;
    text-transform: capitalize;
}

.savings--reached p:nth-child(2) {
    /* color: red; */
    padding-top: 10px ;
}

/* styling of secondcard--2 blocks end here */

/* styling of section--2 and tables ends here */


/* third block styling start here  */
.section--2--fourth--card {
    width: 400px;
    height: 210px;
    box-shadow: -3px 5px 15px 0px rgba(0,0,0,0.5);
    border-radius: 30px;
    padding-top: 10px;
    /* text-transform: capitalize; */

}

.loan--container {
    /* border: 2px solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 0px 10px;

}
.img--details {
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.loaner--img {
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 50%;
}

.loaner--img img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.img--details .writeUp  {
    width: 200px;
}
.img--details .writeUp p::first-letter {
    text-transform: capitalize;
}

.img--details .writeUp p:nth-child(2) {
    padding-top: 2px;
}
.loan-progress--container {
    /* border: 2px solid red ; */
    width: 100%;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.loan--progress {
    position: relative;
    width: 280px;
    height: 25px;
    border-radius: 200px;
    box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.5),
    inset 0px 0px 20px 0px rgba(0,0,0,0.7);
    overflow: hidden;
}

.loan--progress::after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 80%;
    background: var(--secondary--color);
    left: 0;
    border-radius: 0px 20px 20px 0px;
}
.loan-progress--container .amount--left {
    font-size: 13px;
    /* flex-basis: 100%;  */
    /* flex-grow: 1; */
    transform: translateX(90px);
    
}

/* section2--fifth--block styling starts here */
.section2--fifth--card {
    width: 400px;
    height: 210px;
    box-shadow: -3px 5px 15px 0px rgba(0,0,0,0.5);
    border-radius: 30px;
    padding-top: 10px;
    /* text-transform: capitalize */
}


.finacial--advice {
    display: block;
    /* border: 2px solid; */
    padding: 20px 0px 0px 15px ;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    color: var(--text-color);
    line-height: 1.5;
    
}
.finacial--advice p::first-letter {
    text-transform: capitalize;
}

/* section2--fifth--block styling end here */